info::before{
    content: "i";
    font-size: 85%;
    margin-right: 5px;
    display: inline-block;
    vertical-align: 2px;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5;
    border-radius: 50%;
    background: #4287f5;
    color: #FFF;
    font-weight: bold;
}

#dialog{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 47%;
	height: 60%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.dialogContent{
	width: 100%;
}
#dialogTd{
    max-height: calc(33px * 12);
    overflow-y: scroll;
    }

