<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{../css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../css/index.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../css/menu.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/monthSelect/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
        rel="stylesheet">

    <!-- 選択ダイアログ用css -->
    <link th:href="@{../css/selectDialog.css}" rel="stylesheet" type="text/css">

    <title>WHC:カレンダー一覧</title>
</head>

<body>

    <!-- 顧客選択ダイアログ -->
    <section id="clientModal" class="modalArea clientModal">
        <div id="modalBg" class="modalBg"></div>
        <div class="modalWrapper">
            <div class="modalContents">

                <div class="card shadow bg-light top-margin10">
                    <div class="card-body p-2" style="display: flex">
                        <div class="input-group mb-2 mx-2 top-margin5">
                            <span class="input-group-text">顧客番号</span>
                            <input type="text" name="dialogClientId" class="form-control">
                        </div>
                        <div class="input-group mb-2 mx-2 top-margin5">
                            <span class="input-group-text">顧客名</span>
                            <input type="text" name="dialogClientName" class="form-control">
                        </div>
                        <div class="top-margin5">
                            <button type="button" class="btn btn-def mb-1 mx-2">検索</button>
                        </div>
                    </div>
                </div>

                <div class="top-margin10 listScroll">
                    <table class="table table-sm table-striped table-bordered text-center mt-0">
                        <thead>
                            <tr bgcolor="royalblue" style="color: white">
                                <th scope="col" style="width: 45px">顧客<br>番号</th>
                                <th scope="col" style="width: 170px">顧客名</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item:${client_list}">
                                <td th:text="${item.client_id}"></td>
                                <td th:text="${item.client_name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body ps-2 pt-0">
                    <button type="button" id="selectClient" class="btn btn-def mb-1 mx-2 top-margin10">選択</button>
                </div>

            </div>
            <div id="closeModal" class="closeModal">
                ×
            </div>
        </div>
    </section>
    <!-- 顧客選択ダイアログここまで -->

    <!-- 社員選択ダイアログ -->
    <section id="employeeModal" class="modalArea employeeModal">
        <div id="modalBg" class="modalBg"></div>
        <div class="modalWrapper">
            <div class="modalContents">

                <div class="card shadow bg-light top-margin10">
                    <div class="card-body p-2" style="display: flex">
                        <div class="input-group mb-2 mx-2 top-margin5">
                            <span class="input-group-text">社員番号</span>
                            <input type="text" name="dialogEmployeeId" class="form-control">
                        </div>
                        <div class="input-group mb-2 mx-2 top-margin5">
                            <span class="input-group-text">社員名</span>
                            <input type="text" name="dialogEmployeeName" class="form-control">
                        </div>
                        <div class="top-margin5">
                            <button type="button" class="btn btn-def mb-1 mx-2">検索</button>
                        </div>
                    </div>
                </div>

                <div class="top-margin10 listScroll">
                    <table class="table table-sm table-striped table-bordered text-center mt-0">
                        <thead>
                            <tr bgcolor="royalblue" style="color: white">
                                <th scope="col" style="width: 45px">社員<br>番号</th>
                                <th scope="col" style="width: 170px">社員名</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item:${employee_list}">
                                <td th:text="${item.employee_id}"></td>
                                <td th:text="${item.employee_name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body ps-2 pt-0">
                    <button type="button" id="selectEmployee" class="btn btn-def mb-1 mx-2 top-margin10">選択</button>
                </div>

            </div>
            <div id="closeModal" class="closeModal">
                ×
            </div>
        </div>
    </section>
    <!-- 社員選択ダイアログここまで -->

    <header>
        <!--        ヘッダー部分は、Tymeleafで共通化すること-->
        <nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm" style="background-color: #f36304">
            <a class="navbar-brand" href="ML010.html">
                <span class="ml-1" style="color: white; font-size: 1.0em; font-weight: bold;">労働時間計算システム </span></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto"></ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color: white"> [Acount Name]
                            <span class="visually-hidden">(current)</span></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"
                            style="background-color: #f36304">
                            <a class="dropdown-item" href="LF020.html" style="color: white">パスワード変更</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="LF010.html" style="color: white">ログアウト</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="d-flex flex-row" style="height: 1000px">

        <div th:replace="~{menu::menu}"></div>

        <main class="w-100 bg-light">
            <div class="card shadow bg-light">

                <div class="container bg-white border py-3 my-3">
                    <h3 class="font-weight-bold p-2" id="folding">検索条件</h3>
                    <div class="accordion">
                        <div class="card-body p-2" style="display: flex">
                            <div class="input-group mb-2 mx-2">
                                <span class="input-group-text">社員番号</span>
                                <input type="text" aria-label="emNo" class="form-control" name="employee_id">
                            </div>
                            <div class="input-group mb-2 mx-2">
                                <span class="input-group-text">社員氏名</span>
                                <input type="text" class="form-control" name="employee_name">
                            </div>
                            <div class="input-group mb-2 mx-2" style="width: 200rem">
                                <button type="button" id="openEmployeeModal" class="btn btn-def">社員選択</button>
                            </div>
                        </div>
                        <div class="card-body p-2" style="display: flex">
                            <div class="input-group mb-2 mx-2">
                                <span class="input-group-text" style="width: 90px">顧客名</span>
                                <input type="text" class="form-control" name="client_name">
                            </div>
                            <div class="input-group mb-2 mx-2">
                                <button type="button" id="openClientModal" class="btn btn-def"
                                    style="color: white">顧客選択</button>
                            </div>
                        </div>

                        <div class="input-group ps-2 pt-0 mt-2 mb-0 mx-2" style="width: 150px">
                            <span class="input-group-text">年/月</span>
                            <select id="classes" class="form-control form-select" onchange="changeClass()">
                                <option value="1">年</option>
                                <option value="2">月</option>
                            </select>
                        </div>

                        <div class="card-body ps-2 pt-0" style="display: flex">

                            <div class="flatpickr input-group ps-2 pe-0 py-2 mb-3 me-0" data-id="strap"
                                style="width: 360px">
                                <span class="input-group-text me-0" style="width: 90px">年</span>
                                <input id="inputDate" type="text" class="" placeholder="登録年(From)" style="width: 120px"
                                    oninput="inputChange()" data-input>
                                <a class="input-button" title="toggle" style="height: 38px" data-toggle>
                                    <i class="material-icons">date_range</i>
                                </a>
                                <a class="input-button" title="clear" style="height: 38px" data-clear>
                                    <i class="material-icons">clear</i>
                                </a>
                            </div>
                            <div class="flatpickr input-group px-0 py-2  mb-3" data-id="strap">
                                <span class="input-group-text me-0" style="border-radius: 0rem">～</span>
                                <input id="inputDate" type="text" class="" placeholder="登録年(To)" style="width: 120px"
                                    oninput="inputChange()" data-input>
                                <a class="input-button" title="toggle" style="height: 38px" data-toggle>
                                    <i class="material-icons">date_range</i>
                                </a>
                                <a class="input-button" title="clear" style="height: 38px" data-clear>
                                    <i class="material-icons">clear</i>
                                </a>
                            </div>

                        </div>

                        <div class="card-body ps-2 pt-0">
                            <button type="button" class="btn btn-def mb-1 mx-2">検索</button>
                            <button type="button" class="btn btn-def mb-1">Excel出力</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-def my-2 mx-1" style="width: 150px">新規登録</button>
            <button type="button" class="btn btn-def my-2 mx-1" style="width: 150px">選択行コピー</button>
            <button type="button" class="btn btn-def my-2 mx-1" style="width: 150px">選択行削除</button>

            <div id="listLimit" class="text-nowrap table-responsive">
                <table class="table table-sm table-striped table-bordered text-center mt-0">
                    <thead>
                        <tr bgcolor="royalblue" style="color: white">
                            <th scope="col" style="width: 30px"><input class="form-check-input m-0" type="checkbox"
                                    value="" aria-label="Checkbox for following text input"></th>
                            <th scope="col" style="width: 45px">顧客<br>ID</th>
                            <th scope="col" style="width: 200px">顧客名</th>
                            <th scope="col" style="width: 50px">社員<br>番号</th>
                            <th scope="col" style="width: 100px">社員氏名</th>
                            <th scope="col" style="width: 30px">年</th>
                            <th scope="col" style="width: 60px">年間<br>休日数</th>
                            <th scope="col" style="width: 300px">コメント</th>
                            <th scope="col" style="width: 100px">登録日</th>
                            <th scope="col" style="width: 100px">登録者</th>
                            <th scope="col" style="width: 100px">更新日</th>
                            <th scope="col" style="width: 100px">更新者</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="width: 30px">
                                <input class="form-check-input mt-1" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                            </td>
                            <td>001</td>
                            <td><a href="SMSCD002.html">ネクサス</a></td>
                            <td>0001</td>
                            <td>ネクサス太郎</td>
                            <td>2022</td>
                            <td>120</td>
                            <td>カレンダーコメント</td>
                            <td>2022/10/04</td>
                            <td>ネクサス太郎</td>
                            <td>2022/10/04</td>
                            <td>ネクサス太郎</td>
                        </tr>
                        <tr>
                            <td><input class="form-check-input mt-1" type="checkbox" value=""
                                    aria-label="Checkbox for following text input"></td>
                            <td>002</td>
                            <td><a href="SWHCIN002.html">ネクサス２</a></td>
                            <td></td>
                            <td></td>
                            <td>2022</td>
                            <td>121</td>
                            <td>カレンダーコメント２</td>
                            <td>2022/10/04</td>
                            <td>ネクサス太郎</td>
                            <td>2022/10/04</td>
                            <td>ネクサス太郎</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="ms-5">
                <a class="mx-3">←　前のページ</a>
                <a class="mx-1">1</a>
                <a class="mx-1">2</a>
                <a class="mx-1">3</a>
                <a class="mx-1">...</a>
                <a class="mx-1">10</a>
                <a class="mx-3">次のページ　→</a>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/monthSelect/index.js"></script>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/indexCalendar.js"></script>
    <script src="../js/menu.js"></script>

    <!-- モーダルウィンドウ用js -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- 選択ダイアログ用js -->
    <script src="../js/selectDialog.js"></script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load',
                function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document
                        .getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms,
                        function (form) {
                            form.addEventListener('submit', function (
                                event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                }, false);
        })();
    </script>
    <script>
        const config = {
            wrap: true,
            locale: 'ja',
            plugins: [new monthSelectPlugin({
                dateFormat: "Y/m"
            })]
        }
        flatpickr('.flatpickr', config);
    </script>

</body>

</html>