<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{../css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{../css/index.css}" rel="stylesheet" type="text/css">
        <link th:href="@{../css/menu.css}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/monthSelect/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/index.js"></script>
        <title>WHC:顧客マスタ一覧</title>
    </head>

    <body>
    <header>
<!--        ヘッダー部分は、Tymeleafで共通化すること-->
        <nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm" style="background-color: #f36304">
            <a class="navbar-brand" href="ML010.html">
            <span class="ml-1" style="color: white; font-size: 1.0em; font-weight: bold;">労働時間計算システム </span></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto"></ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white"> [Acount Name]
                    <span class="visually-hidden">(current)</span></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background-color: #f36304">
                            <a class="dropdown-item" href="LF020.html" style="color: white">パスワード変更</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="LF010.html" style="color: white">ログアウト</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="d-flex flex-row" style="height: 1000px">
    
    <div th:replace="~{menu::menu}"></div>

        <main class="w-100 bg-light">
            <div class="container bg-white border py-3 my-3">
                <div class="card shadow bg-light">

                        <h3 class="font-weight-bold p-2" id="folding">検索条件</h3>
                        <div class="accordion">
                            <div class="card-body p-2" style="display: flex">
                                <div class="input-group mb-2 mx-2">
                                    <span class="input-group-text">顧客番号</span>
                                    <input type="text" aria-label="emNo" class="form-control" style="width: 100px">
                                    <span class="input-group-text">顧客名</span>
                                    <input type="text" class="form-control" style="width: 200px;">
                                    <button type="button" class="btn btn-success border border-dark mb-2 mx-2"
                                        style="color: white; background-color: cornflowerblue;">検索</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 登録、削除ボタン -->
                    <div class="card-body p-2" style="display: flex">
                        <button type="button" class="btn btn-success border border-dark mb-2 mx-2"
                            style="color: white; background-color: cornflowerblue;">新規登録</button>
                        <button type="button" id="delete" class="btn btn-success border border-dark mb-2 mx-2"
                            style="color: white; background-color: cornflowerblue;">選択行削除</button>
                    </div>

                    <!-- 一覧 -->
                    <div class="text-nowrap table-responsive" id="listLimit" style="overflow-x:scroll;">
                        <table class="table table-sm table-striped table-bordered">
                            <thead>
                                <tr bgcolor="royalblue" class="text-center" style="color: white" id="listTable">
                                    <th scope="col" style="width: 20px"><input type="checkbox" disabled></th>
                                    <th scope="col" style="width: 45px">顧客番号</th>
                                    <th scope="col" style="width: 120px">顧客名</th>
                                    <th scope="col">始業時刻</th>
                                    <th scope="col">就業時刻</th>
                                    <th scope="col">作業時間</th>
                                    <th scope="col">休憩1<br>開始</th>
                                    <th scope="col">休憩1<br>終了</th>
                                    <th scope="col">休憩2<br>開始</th>
                                    <th scope="col">休憩2<br>終了</th>
                                    <th scope="col">休憩3<br>開始</th>
                                    <th scope="col">休憩3<br>終了</th>
                                    <th scope="col">休憩4<br>開始</th>
                                    <th scope="col">休憩4<br>終了</th>
                                    <th scope="col">休憩5<br>開始</th>
                                    <th scope="col">休憩5<br>終了</th>
                                    <th scope="col">休憩6<br>開始</th>
                                    <th scope="col">休憩6<br>終了</th>
                                    <th scope="col">調整休憩時間<br>開始</th>
                                    <th scope="col">調整休憩時間<br>終了</th>
                                    <th scope="col">備考</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col" style="width: 20px"><input type="checkbox" disabled></th>
                                    <th scope="col" style="width: 45px">001</th>
                                    <th scope="col" style="width: 120px">ネクサス</th>
                                    <th scope="col">9:00</th>
                                    <th scope="col">18:00</th>
                                    <th scope="col">8:00</th>
                                    <th scope="col">12:00</th>
                                    <th scope="col">12:50</th>
                                    <th scope="col">15:00</th>
                                    <th scope="col">15:10</th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 20px"><input type="checkbox" disabled></th>
                                    <th scope="col" style="width: 45px">002</th>
                                    <th scope="col" style="width: 120px">ネクサス株式会社</th>
                                    <th scope="col">8:45</th>
                                    <th scope="col">17:30</th>
                                    <th scope="col">7.75</th>
                                    <th scope="col">12:00</th>
                                    <th scope="col">13:00</th>
                                    <th scope="col">17:30</th>
                                    <th scope="col">17:45</th>
                                    <th scope="col">17:45</th>
                                    <th scope="col">18:00</th>
                                    <th scope="col">21:45</th>
                                    <th scope="col">22:00</th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                    <th scope="col"> </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div align="center">
                        <a class="mx-3">← 前のページ</a>
                        <a class="mx-1">1</a>
                        <a class="mx-1">2</a>
                        <a class="mx-1">3</a>
                        <a class="mx-1">...</a>
                        <a class="mx-1">10</a>
                        <a class="mx-3">次のページ →</a>
                    </div>
                </div>
            <script>
            </script>
        </main>
    </div>

    <script>
        // bootstrapのvalidation定義
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</body>

</html>