<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
    <link th:href="@{../static/css/menu.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/monthSelect/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet">

    <title>WHC:顧客マスタ登録</title>
</head>

<body>
	<header>
<!--		ヘッダー部分は、Tymeleafで共通化すること-->
		<nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm" style="background-color: #f36304">
			<a class="navbar-brand" href="ML010.html"> <span class="ml-1" style="color: white; font-size: 1.0em; font-weight: bold;"> 労働時間計算システム </span> </a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white"> [Acount Name]
					<span class="visually-hidden">(current)</span></a>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background-color: #f36304">
							<a class="dropdown-item" href="LF020.html" style="color: white">パスワード変更</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="LF010.html" style="color: white">ログアウト</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>

    <div class="d-flex flex-row" style="height: 1000px">
        <!-- メニュー表示 -->
        <object data="menu.html" type="text/html"></object>

        <main class="w-100 h-100 bg-light">
            <div class="container bg-white border py-3 my-3" style="max-width: 850px">

                    <div class="input-group mb-3" style="max-width: 800px">

                        <span class="input-group-text">顧客番号</span>
                        <input type="text" aria-label="emNo" class="form-control" style="width: 150px">

                        <span class="input-group-text">顧客名</span>
                        <input type="text" class="form-control" style="width: 150px">

                    </div>

                    <div class="input-group mb-3" style="max-width: 800px">
                        <span class="input-group-text">始業時刻</span>
                        <input type="time" name="openTime">
                        <span class="input-group-text">就業時刻</span>
                        <input type="time" name="closeTime">
                        <span class="input-group-text">作業時間</span>
                        <input type="text" name="workingTime">
                        <span class="input-group-text">時間</span>
                    </div>

                    <div class="input-group mb-3" style="max-width: 500px">
                        <span class="input-group-text">休憩1</span>
                        <span class="input-group-text">開始</span>
                        <input type="time" name="rest1Start">
                        <span class="input-group-text">～</span>
                        <span class="input-group-text">終了</span>
                        <input type="time" name="rest1End">
                    </div>
                    <div class="input-group mb-3" style="width: 500px">
                        <span class="input-group-text">休憩2</span>
                        <span class="input-group-text">開始</span>
                        <input type="time" name="rest2Start">
                        <span class="input-group-text">～</span>
                        <span class="input-group-text">終了</span>
                        <input type="time" name="rest2End">
                    </div>
                    <div class="input-group mb-3" style="width: 500px">
                        <span class="input-group-text">休憩3</span>
                        <span class="input-group-text">開始</span>
                        <input type="time" name="rest3Start">
                        <span class="input-group-text">～</span>
                        <span class="input-group-text">終了</span>
                        <input type="time" name="rest3End">
                    </div>
                    <div class="input-group mb-3" style="width: 500px">
                        <span class="input-group-text">休憩4</span>
                        <span class="input-group-text">開始</span>
                        <input type="time" name="rest4Start">
                        <span class="input-group-text">～</span>
                        <span class="input-group-text">終了</span>
                        <input type="time" name="rest4End">
                    </div>
                    <div class="input-group mb-3" style="width: 500px">
                        <span class="input-group-text">休憩5</span>
                        <span class="input-group-text">開始</span>
                        <input type="time" name="rest5Start">
                        <span class="input-group-text">～</span>
                        <span class="input-group-text">終了</span>
                        <input type="time" name="rest5End">
                    </div>
                    <div class="input-group mb-3" style="width: 500px">
                        <span class="input-group-text">休憩6</span>
                        <span class="input-group-text">開始</span>
                        <input type="time" name="rest6Start">
                        <span class="input-group-text">～</span>
                        <span class="input-group-text">終了</span>
                        <input type="time" name="rest6End">
                    </div>
                    <div class="input-group mb-3" style="width: 500px">
                        <span class="input-group-text">調整休憩時間</span>
                        <span class="input-group-text">開始</span>
                        <input type="time" name="adjustRestTimeStart">
                        <span class="input-group-text">～</span>
                        <span class="input-group-text">終了</span>
                        <input type="time" name="adjustRestTimeEnd">
                    </div>
                    <p>備考</p>
                    <textarea style="width: 100%; height: 150px;" th:text="*{comment}"></textarea>
                    <button id="btn-regist" type="button" class="btn border border-dark mb-3 my-3" style="color: white; background-color: cornflowerblue;">登録</button>
                    <button id="btn-regist" type="button" class="btn border border-dark mb-3 my-3" style="color: white; background-color: cornflowerblue;">更新</button>
                    <button id="btn-regist" type="button" class="btn border border-dark mb-3 my-3" style="color: white; background-color: cornflowerblue;">登録して次へ</button>
                    <button id="btn-regist" type="button" class="btn border border-dark mb-3 my-3" style="color: white; background-color: cornflowerblue;">削除</button>
                    <button id="btn-regist" type="button" class="btn border border-dark mb-3 my-3" style="color: white; background-color: cornflowerblue;">キャンセル</button>
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../static/js/bootstrap/bootstrap.min.js"></script>
	<script src="../js/menu.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/monthSelect/index.js"></script>
    <script>
        const config = {
            wrap: true,
            locale: 'ja',
            plugins: [
                new monthSelectPlugin({
                    dateFormat: "Y年m月度"
                })
            ]
        }
        flatpickr('.flatpickr', config);
    </script>
</body>

</html>