<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{../css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{../css/index.css}" rel="stylesheet" type="text/css">
	<link th:href="@{../css/menu.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/monthSelect/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
	<link
		href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
		rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="../js/index.js"></script>
	<title>WHC:ユーザーマスタ一覧</title>
</head>

<body>
	<header>
		<!--        ヘッダー部分は、Tymeleafで共通化すること-->
		<nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm" style="background-color: #f36304">
			<a class="navbar-brand" href="ML010.html">
				<span class="ml-1" style="color: white; font-size: 1.0em; font-weight: bold;">労働時間計算システム </span></a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto"></ul>

				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" style="color: white"> [Acount Name]
							<span class="visually-hidden">(current)</span></a>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"
							style="background-color: #f36304">
							<a class="dropdown-item" href="LF020.html" style="color: white">パスワード変更</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="LF010.html" style="color: white">ログアウト</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="d-flex flex-row" style="height: 1000px">

		<div th:replace="~{menu::menu}"></div>

		<main class="w-100 bg-light">
			<div class="container bg-white border py-3 my-3">
				<div class="card shadow bg-light">

					<h3 class="font-weight-bold p-2" id="folding">検索条件</h3>
					<div class="accordion">
						<div class="card-body p-2" style="display: flex">
							<div class="input-group mb-2 mx-2" style="width: 600px">
								<span class="input-group-text">ユーザID</span>
								<input type="text" aria-label="emNo" class="form-control" style="width: 150px">
								<span class="input-group-text">ユーザ名</span>
								<input type="text" class="form-control" style="width: 150px;">
							</div>
						</div>

						<div class="card-body p-2" style="display: flex">
							<div class="input-group mb-2 mx-2" style="width: 300px">
								<span class="input-group-text">権限</span>
								<select name="permission" id="permission-select">
									<option value="all">全て</option>
									<option value="admin">管理者</option>
									<option value="user">一般</option>
								</select>
							</div>
						</div>

						<div class="card-body p-2" style="display: flex">
							<div class="input-group mb-2 mx-2" style="width: 500px">
								<span class="input-group-text">メールアドレス</span>
								<input type="text" aria-label="emNo" class="form-control" style="width: 150px">
							</div>
						</div>

						<div class="card-body p-2" style="display: flex">
							<button type="button" class="btn btn-success border border-dark mb-2 mx-2"
								style="color: white; background-color: cornflowerblue">検索</button>
						</div>
					</div>
				</div>
				<div class="card-body p-2" style="display: flex">
					<button type="button" class="btn btn-success border border-dark mb-2 mx-2"
						style="color: white; background-color: cornflowerblue;">新規登録</button>
					<button type="button" class="btn btn-success border border-dark mb-2 mx-2"
						style="color: white; background-color: cornflowerblue;">選択行削除</button>
				</div>

				<div class="text-nowrap table-responsive">
					<table class="table table-sm table-striped table-bordered my-3" style="width: 600px">
						<thead>
							<tr bgcolor="royalblue" class="text-center" style="color: white">
								<th scope="col" style="width: 20px"><input type="checkbox"></th>
								<th scope="col" style="width: 45px">ユーザID</th>
								<th scope="col" style="width: 120px">ユーザ名</th>
								<th scope="col" style="width: 45px">権限</th>
								<th scope="col" style="width: 200px">メールアドレス</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="text-center"><input type="checkbox"></th>
								<th>nexus001</th>
								<td><a href="SMSTCD00X5.html">ネクサス太郎</a></td>
								<td class="text-center">管理者</td>
								<th>t_nexus@nexus.com</th>
							</tr>
							<tr>
								<th class="text-center"><input type="checkbox"></th>
								<th>nexus002</th>
								<td><a href="SMSTCD00X5.html">ネクサス次郎</a></td>
								<td class="text-center">管理者</td>
								<th>j_nexus@nexus.com</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="ms-5">
					<a class="mx-3">←　前のページ</a>
					<a class="mx-1">1</a>
					<a class="mx-1">2</a>
					<a class="mx-1">3</a>
					<a class="mx-1">...</a>
					<a class="mx-1">10</a>
					<a class="mx-3">次のページ　→</a>
				</div>


			</div>

		</main>
	</div>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
	<script src="../js/menu.js"></script>
	<script src="../js/jquery-3.5.1.min.js"></script>
	<script src="../js/bootstrap/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script>
		const config = {
			wrap: true,
			locale: 'ja',
			plugins: [
				new monthSelectPlugin({
					dateFormat: "Y/m"
				})
			]
		}
		flatpickr('.flatpickr', config);
	</script>
</body>

</html>